option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: furniture_platform.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: inventory_system.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
    ALLOWED_HOSTS: .elasticbeanstalk.com
 
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py createsuperuser --noinput || true"
    leader_only: truecd 
