option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: inventory_system.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: inventory_system.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
    ALLOWED_HOSTS: .elasticbeanstalk.com,localhost

container_commands:
  01_migrate:
    command: "django-admin migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin collectstatic --noinput"